* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(173, 187, 144, 0.247), rgba(103, 156, 140, 0.5)),
    url('../images/lake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 890px;
}

#nav-css {
    background-color: #91c79c;
}

.nav-link {
    color: aliceblue;
}

footer {
    background-color: #91c79c;
    text-align: center;
    padding-top: 10px;
    height: 50px;
}