* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(173, 187, 144, 0.247), rgba(103, 156, 140, 0.5)),
    url('../images/lake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    min-height: 100vh;
}

#nav-css {
    background-color: #91c79c;
}

a {
    color: aliceblue;
}

footer {
    background-color: #91c79c;
}

#profile-img {
    height: 225px;
}

.section-div {
    background-color: whitesmoke;
    margin: 2vh;
}

#dimi {
    margin-left: 1vh;
    background-color: whitesmoke;
}

.section-main {
    background-color: whitesmoke; padding: 2em;
}